div.sourceCode {
  margin-bottom: 0
}
div.sourceCode ~ pre {
  margin-top: -0.5em;
  margin-bottom: 2em;
  background-color: black;
  font-size: 0.9em
}

div.sourceCode ~ pre > code {
  white-space: pre;
  /* white-space: nowrap; */
  color: grey;
}
